body {
	text-align: center;
	font-family: helvetica;
	color: white;
	background-color: #5D758F !important;
}

#header {
	font-family: Lobster;
	background-image: url('heatherGry.jpg');
	font-size: 3em;
}

#homepic {
	border: 1em solid white;
	border-radius: 100%;
	height: 25em;
}

#giphyme {
	margin-top: 3em;
}

#home {
	color: white;
	font-size: 1.5em;
}

#weather {
	background-color: rgb(0, 0, 0, .5);
	background-size: cover;
	padding: 1.5em;
	margin: 1em;
}

#row1 {
	margin-top: 2em;
}
















