body {
	text-align: center;
	font-family: helvetica;
	color: white;
	background-color: #5D758F !important;
}

ul {
	list-style: none;
}

.menuItems {
	margin: 1em;
	display: inline;
}

#marquee {
	font-family: Lobster;
	background-image: url('heatherGry.jpg');
	font-size: 3em;
}

p {
	color: white !important;
} 

#main {
	margin-top: 3.5em;
}

#homepic {
	border: 1em solid white;
	border-radius: 100%;
	height: 25em;
}

#whitebox {
	background-color: white;
	border-radius: 1em;
}

.todos {
	color: red;
}

#giphyme {
	margin-top: 3em;
}

#home {
	color: white;
	font-size: 1.5em;
}




/*////////WEATHER API CSS*/

