body {
	text-align: center;
	font-family: helvetica;
}

.menu {
	background-color: grey;
	color: white;
	border: 5px solid black;
}

ul {
	list-style: none;
	background-color: grey;
	color: white;
}

li {
	margin: 2em;
	font-size: 2em;
	display: inline;
}

#title {
	font-family: Lobster;
	font-size: 5em;
}